<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="sign-up-page">
    <h1 class="welcome" style="color: black;">Welcome, </h1>
    <h2>Sign Up to Track Your Reading Progress</h2>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="signup-box">
    <form action="/signup" method="POST">
        <label>Username</label><input class="username" type="text" name="userName" placeholder="Username">
        <label>Email</label><input class="email" type="email" name="email" placeholder="Email">
        <label>Password</label><input class="password" type="password" name="password" placeholder="Password">
        <label>Confirm Password</label><input class="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" id="submit-button">
    </form>
</div>
</body>
</html>