h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
/* span.del{
    color: red;
    font-weight: bold;
    border: 2px solid red;
} */
button{

}